

.picturenavbar-container {
  margin:0px auto;
  padding: 5px;
  background: black;
  width: 100%;
  border-bottom: 1px solid gray;
}


.picturenavbar {
  margin: 5px 50px;
  font-size: 16px;
  font-weight: bolder;
  color: red;
  cursor: pointer;
}