

.pictureupload-area {
  background:lightgray;
}

.pictureupload-title {
  margin-top: 30px;
  font-size: 30px;
  font-weight: bold;
}

.pictureupload-form {
  margin-top: 20px;
}

.pictureupload-form-text {
  font-size: 14px;
  color: black;
  font-weight: bold;
}

.pictureupload-input {
  margin-top: 20px;
}

.pictureupload-alert-area {
  margin-top: 15px;
}

.pictureupload-upload-alert {
  color: red;
  font-size: 20px;
  font-weight: bolder;
  margin-top: 8px;
}

.pictureupload-upload-btn {
  margin-top: 15px;
  margin-left: 10px;
  font-size: 16px;
}











