
.signin-title-area {
    margin-top: 50px;
}


.signin-title {
    font-size: 30px;
    font-weight: bold;
    color: black;
  
}

.login-incorrect {
    font-size: 18px;
    font-weight: bold;
    color: black;

}

.login-text {
    font-size: 22px;
    font-weight: bold;
    margin-top: 20px;

}

.login-form {
    margin-top: 20px;

}

.login-form-input {
    padding-left: 3px;
}

.login-form-input2 {
    margin-top: 8px;
    padding-left: 3px;
}

.signin-help-btn {
    font-size: 14px;
    color: blue;
    margin-left: 10px;
    cursor: pointer;
}

.form-btn {
    margin-top: 10px;
}


/* .signin-fgt-area {
    margin-top: 30px;
} */

















