

.viewslideshownav-area {
  padding: 3px;
  width: 100%;
  background: black;

}


.viewslideshownav-btn {
  margin-left: 15px;
  vertical-align: middle;
  font-size: 16px;
  font-weight: bolder;
  color: red;
  cursor: pointer;
}