

.viewslideshownav-area {
  padding: 3px;
  width: 100%;
  background: black;

}


.viewslideshownav-btn {
  margin-left: 13px;
  vertical-align: middle;
  font-size: 10px;
  font-weight: bolder;
  color: red;
  cursor: pointer;
}


@media (min-width: 576px) {
  .viewslideshownav-btn {
    margin-left: 10px;
    vertical-align: middle;
    font-size: 13px;
    font-weight: bolder;
    color: red;
    cursor: pointer;
  }
}
