


.picture-signin-link-area {
    margin-top: 50px;
}

.picture-signin-link {
    font-size: 26px;
    color: red;
    font-weight: bold;
    cursor: pointer;
}


.picture-page-header {
    width: 100%;
    height: 50px;
    font-size: 30px;
    color: black;
    vertical-align: middle;
    font-weight: bolder;

}

.showAllPictures-area {
   

}











